/* Breakpoints */
$breakpoints: (
        mobile: 767px,
        tablet: 1023px,
        laptop: 1380px,
        desktop: 1920px,
        large-desktop: 99999px,
        background: 1800px, // для показа бэкграунда
);

/* Colors */
$black: #17141b;
$white: #fff;
$grayDark: #302939;
$pink: #ffa5a5;
$pinkLight: #ffd8d8;
$purple: #493e57;

/* Defaults */
$font-family: 'Montserrat', sans-serif;
$font-size: 1.6rem;
$body-color: #17141b;
$body-bg: #fff;

/* Grid */
$container-w: 136rem;
$header-h: 6.4rem;
$header-h-m: 3.2rem;
$footer-h: 3.2rem;

/* Spacing */
$desktop-padding: 2.4rem;
$mobile-padding: 1.6rem;
