/* Breakpoints */
$breakpoints: (
        mobile: 767px,
        tablet: 1023px,
        laptop: 1380px,
        desktop: 1920px,
        large-desktop: 99999px,
);

/* Colors */
$black: #17141b;
$white: #fff;
$grayDark: #302939;
$pink: #ffa5a5;
$pinkLight: #ffd8d8;
$purple: #493e57;

/* Defaults */
$font-family: 'Montserrat', sans-serif;
$font-size: 16px;
$body-color: #17141b;
$body-bg: #fff;

/* Grid */
$header-h: 64px;
$header-h-m: 32px;
$footer-h: 32px;

/* Spacing */
$desktop-padding: 24px;
$mobile-padding: 16px;
